[submodule "libs/pffft"]
	path = libs/pffft
	url = https://bitbucket.org/jpommier/pffft.git
[submodule "libs/nativefiledialog"]
	path = libs/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "libs/imgui-node-editor"]
	path = libs/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
