[submodule "libs/pffft"]
	path = libs/pffft
	url = https://bitbucket.org/jpommier/pffft.git
[submodule "libs/nativefiledialog"]
	path = libs/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
